
/* .button1 {
    display: flex;
    background-color: #0AD6F6;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  
    &:hover {
      background-color: #0056b3;
    }
  } */

  .button1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: gold;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin: 5px;

    &:hover {
      cursor: pointer;
      background-color: #0056b3;
    }
  }
