.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 560px;
  height: 558px;
  padding: 20px;
}

.closeModalButton {
  width: 44px;
  height: 22px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.modalButton {
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 16px 20px;
  width: 192px;
  height: 48px;
  background: #8a33fd;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;


  &:hover {
    cursor: pointer;
    background-color: #00b380;
  }
}

.modalButton2 {
  display: inline-block;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 16px 20px;
  width: 192px;
  height: 48px;
  background: white;
  color: #8a33fd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;


  &:hover {
    cursor: pointer;
    background-color: gold;
  }
}

// .test {
//   font-size: 30px;
// }

/* width: 560px;
height: 558px;
top: -355px;
left: -215px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px; */